/* Global */

* {
  margin: 0;
  padding: 0;
}

/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
}

a {
  color: black;
}

a:hover {
  color: black;
}

/* Animation effects */
:root {
  --animate-duration: 6s;
  --animate-delay: 0.9s;
}

#background_image {
  background-image: url('/assets/images/coffee_background_image.jpg');
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* padding-top: 80px; */
}

input#names {
  border-radius: 0px;
}

button {
  margin: 0px 7px 7px 0px;
  border-radius: 0px !important;
}

.add_names_to_draw_btn {
  background-color: #fff
}

.add_names_to_draw_btn:hover {
  background-color: #000;
  color: #fff;
}

#section2 {
  background-image: url('/assets/images/test.jpg');
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* padding-top: 80px; */
}