/* Global */

* {
  margin: 0;
  padding: 0;
}

/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
}

a {
  color: black;
}

a:hover {
  color: black;
}

#background_image {
  background-image: url('https://images.unsplash.com/photo-1545255089-5e16567fa40e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80');
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* padding-top: 80px; */
}

input#names {
  border-radius: 0px;
}